:root {
    --bg-color: #eeeeee;
    --border-color: rgb(190, 190, 190);
    --text-color: rgb(55, 55, 55);
    --primary-color: #CCD5AE;
    --secondary-color: #E9EDC9;
    --accent-color: #FAEDCD;
}

[data-theme='dark'] {
    --bg-color: rgb(66, 66, 66);
    --border-color: dimgrey;
    --text-color: black;
    --primary-color: grey;
    --secondary-color: grey;
    --accent-color: grey;
    --link-color: blue;
}

@keyframes bg-fade-in {
    0% {
        background-color: rgba(0, 0, 0, 0);
    }
    100% {
        background-color: rgba(0, 0, 0, 0.5);
    }
}

@keyframes visibility-fade-in {
    0% {
        visibility: hidden;
    }
    100% {
        visibility: visible;
    }
}